.about-us .container .about-us-image {
  width: 300px;
  max-width: 100%;
}

.about-us .container .info-box .section-name::after {
  left: 0;
  bottom: -15px;
  width: 200px;
  transform: none;
}

.about-us .container .info-box .description {
  line-height: 2;
  text-align: justify;
}
