.page-header{
    background-color: #3a5e5b;
    nav{
        .navbar-toggler{
            border: 2px solid #EEE;
            color: #FFF;
            font-size: 20px;
        }
        .navbar-nav{
            .nav-item{
                .nav-link{
                    &.joined{
                        background-color: var(--main-color);
                        border-radius: 30px;
                        padding: {
                            left: 15px;
                            right: 15px;
                        };
                    }
                }
            }
            @media (max-width: 1199px) {
                text-align: center;
                .nav-item{
                    .nav-link{
                        padding: 10px 0;
                        &:hover{
                            background-color: var(--main-color);
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}