@media (max-width: 767px) {
  .why-us {
    padding-bottom: 0 !important;
  }
}

@media (max-width: 767px) {
  .why-us .row {
    gap: 50px;
  }
}

.why-us .row .choose-reason {
  line-height: 1.7;
}

.why-us .row .why-us-image1 {
  width: 100%;
  max-width: 100%;
}

.why-us .row .images-box {
  position: relative;
}

.why-us .row .images-box .why-us-image2 {
  position: absolute;
  left: 0;
}

.why-us .row .images-box .why-us-image3 {
  position: absolute;
  height: 250px;
  width: 250px;
  right: 0;
  top: 100px;
}

.why-us .row .images-box .why-us-image4 {
  position: absolute;
  left: -50px;
  bottom: 0;
}

.why-us .row .images-box .why-us-image5 {
  width: 250px;
  height: 500px;
  max-width: 100%;
  max-height: 100%;
}
