.contact-us .contact-us-images-box .contact-us-image1 {
  max-width: 100%;
  height: 100%;
}

.contact-us .contact-us-box .contact-us-form textarea {
  min-height: 150px;
  resize: none;
}

@media (max-width: 767px) {
  .contact-us .contact-us-box .contact-us-form .row {
    gap: 25px;
  }
}
