.intro .container {
  min-height: inherit;
}

.intro .container .row {
  min-height: inherit;
}

.intro .container .row .summary .company-name {
  color: var(--main-color);
  width: fit-content;
  position: relative;
}

.intro .container .row .summary .company-name::after {
  content: '';
  position: absolute;
  width: 320px;
  height: 5px;
  left: 0;
  bottom: -25px;
  background-color: var(--main-color);
}

.intro .container .row .summary .description {
  font-size: 20px;
  line-height: 2;
  text-align: justify;
}

.intro .container .row .summary .join-link {
  background-color: var(--main-color);
  border-radius: 30px;
}

.intro .container .row .intro-image {
  width: 350px;
  max-width: 100%;
}
