* {
  font-family: 'Poppins', sans-serif;
}

:root {
  --main-color: #39a583;
  --main-background-color: #0d182e;
}

body {
  background-color: var(--main-background-color);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-name {
  position: relative;
  margin-bottom: 60px;
}

.section-name::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 300px;
  transform: translateX(-150px);
  height: 3px;
  background-color: var(--main-color);
}

.contact-links-list .link-item {
  background-color: var(--main-color);
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 5px;
}

.contact-links-list .link-item .contact-link {
  color: white;
}

.contact-links-list .link-item .contact-link:hover {
  color: #000;
}

.contact-links-list .link-item:hover {
  background-color: #FFF;
}

.contact-links-list .link-item:hover .contact-link {
  color: #000;
}
